body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    color: #e60000;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    margin-top: 75px;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.form-container {
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 1.8rem;
    color: #e60000; /* Rojo */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus, textarea:focus {
    border-color: #e60000; /* Rojo */
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

button {
    background-color: #e60000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #cc0000;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #e60000;
    color: white;
    font-size: 0.9rem;
}

footer a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e50914;
}